<table>
    @if (allApplications.length > 0) {
        <tr>
            <th>Id</th>
            <th>Company</th>
            <th>Application Date</th>
            <th>Application Status</th>
            <th>Actions</th>
        </tr>  
    }
@for (app of allApplications; track app.id) {
    <tr>
        <td>{{app.id}}</td>
        <td>{{app.company}}</td>
        <td>{{app.applicationDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{app.status}}</td>
        <td><a [routerLink]="['/tracking/edit', app.id]">edit</a> <a>delete</a></td>
    </tr>
} @empty {
    <a href="/tracking/create-application" target="_self" rel="noopener">
        <forge-button variant="raised">Create New Application</forge-button>
    </a>
}
</table>