<div id="card-container">
<forge-card raised="true" id="input-card">

    <form [formGroup]="applicationForm" (ngSubmit)="putUpdated()">

        <label for="company" float-label="true">Company</label>
        <forge-field>
            <input id="company" type="text" formControlName="company">
        </forge-field><br>

        <label for="position">Position</label>
        <forge-field>
            <input id="position" type="text" formControlName="position">
        </forge-field><br>

        <label for="application-date">Application Date</label><br>
        <forge-field>
            <input id="application-date" type="date" formControlName="applicationDate"><br> 
        </forge-field><br>

        <label for="status">Status</label>
        <forge-field dense="true">
                <select id="status" type="radio" formControlName="status">
                    @for (status of statusList; track status) {
                        <option value="{{status}}">{{status}}</option>
                    }
                </select>
        </forge-field><br>
        <div id="button-box">
            <forge-button type="submit" variant="outlined">Submit</forge-button>
            <forge-button type="submit" variant="outlined" [routerLink]="['/tracking/view-all']">Cancel</forge-button><br>
        </div>
    </form>
</forge-card>
</div>
